.slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 25%;
  right: 0;
  background-color: gray;
  overflow: hidden;

  .slider-photo {
    background-image: url('http://farm5.static.flickr.com/4456/26180125519_0a84cf89d5_h.jpg');
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .slider-button {
    $btn-size: 6em;

    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjI0cHgiIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDMwNiAzMDYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMwNiAzMDY7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBpZD0iY2hldnJvbi1yaWdodCI+CgkJPHBvbHlnb24gcG9pbnRzPSI5NC4zNSwwIDU4LjY1LDM1LjcgMTc1Ljk1LDE1MyA1OC42NSwyNzAuMyA5NC4zNSwzMDYgMjQ3LjM1LDE1MyAgICIgZmlsbD0iI0ZGRkZGRiIvPgoJPC9nPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=);
    width: $btn-size;
    height: $btn-size;
    background-repeat: no-repeat;
    background-size: $btn-size * 2/3;
    position: absolute;
    cursor: pointer;
    transition: all ease-in 0.2s;
    top: 50%;
    z-index: 10;
    border-radius: $btn-size/2;
    background-color: rgba(255, 255, 255, 0.5);
    transform: translate(0, -50%);
    background-position: center center;

    &.next {
      right: 5%;

      &:hover {
        transform: translate(0, -50%) rotate(0deg) scale(1.4);
      }
    }

    &.right {
      transform: translate(0, -50%) rotate(180deg);
      left: 5%;

      &:hover {
        transform: translate(0, -50%) rotate(180deg) scale(1.4);
      }
    }

    &.hidden {
      display: none;
    }
  }
}
